MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=eni/m2/iot/floodguard/mica-tahintsoa-2026/telemetry

INFLUXDB_ORG=eni
INFLUXDB_BUCKET=floodguard
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=ChangeMe_StrongPassword_2026
INFLUXDB_TOKEN=ChangeMe_SuperSecretToken_2026

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeMe_GrafanaPassword_2026